
<div class="container-fluid footer-wrapper">
    <div class="row footer">
        <div class="col-xs-12 col-md-12 ">
            <div class="col-xs-12 col-md-6 footer-sol">
                <h3>  About Us</h3>
                Sirius Information Technologies is an IT company providing Consulting, IT Security and Technical Support
                Services based in Phnom Penh, Cambodia.</p>
            </div>
            <div class="col-xs-12 col-md-6 footer-sag">
                <h3> Reaching Us!</h3>
                You can reach us through various ways, either through the following contacts or through social media below.<br>
                Postal Code: 12202<br>
                Tel: +855 23 962400 <br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 copy ">
            <div class="col-xs-12 col-md-6">
                <p style="color:white;padding-top:10px;">
                    © Some company 2016. All rights Reserved
                </p>
            </div>
        </div>
    </div>
</div>