body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Consolas;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar.navbar-inverse.navbar-fixed-top {
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display:none;
}

.nav.navbar-nav li.selected {
    background-color:white;
}
.nav.navbar-nav li.selected a {
    color: black;
}
.navbar-brand.selected {
    background-color:white;
    color: black;
}

.ticket-view {
    
}
.ticket-view a {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ticket-section {
    margin-top: 15px;
    width: 325px;
    margin-bottom: 20px;
    float:left;
}

.ticket-section .btn
{
    margin-left: 5px;
    padding: 1px 12px;
}

.ticket-cell {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    float: left;
    width:35px;
    margin-right:15px;
    padding: 5px;
    margin-top: 5px;
    border: 2px solid orange;
    border-radius: 5px;

}
.ticket-cell:hover {
    cursor:pointer;
    background-color:orange;
    border-color:red;
    color:white;
}

.cell-select {
    color: white;
    background-color:orangered;
    border-color:red;
}
.tickets {
    margin-bottom: 15px;
}

.tickets .ticket {
    width: 200px;
    float: left;
    margin-right: 30px;
}

.tickets .ticket .section {
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 5px;
}

.tickets .ticket .section span {
    display:inline-block;
    width:25px;
    text-align: center;
    font-size: 16px;
}