@model SportLoto.Models.CreateTicketViewModel
@{
    ViewBag.Title = "CreateTicket";
}
@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/App/Ticket/app.js"></script>
    <script src="~/App/Ticket/services/ticketFactory.js"></script>
    <script src="~/App/Ticket/controllers/TicketController.js"></script>
    <script src="~/App/Ticket/directives/slTicket.js"></script>
}

<div ng-app="ticketApp" ng-controller="TicketController" ng-cloak class="ticket-view">
    <h2>CreateTicket</h2>
    <a href="@Url.Action("Index", "Ticket")">To current active tickets</a><br>

    @if (Model.Drawing != null)
    {
        <a href="#" class="btn btn-info" ng-click="randomTicket()">Generate random ticket</a>
        <a href="#" class="btn btn-danger" ng-click="resetTicketSelect()">Reset all</a>
        <a class="btn btn-success"
           ng-click="applyTicket()"
           ng-show="ticketIsValid()">Apply and create ticket</a>
        <span class="alert alert-warning"
              ng-show="!ticketIsValid() && !showErrorMessage && !showSuccesMessage">
            Please select 6 num in each section.
        </span>
        <span class="alert alert-danger" ng-show="showErrorMessage">
            {{errorMessage}}
        </span>
        <span class="alert alert-success"
              ng-show="showSuccesMessage">
            Ticket was saved.
        </span>


        <sl-ticket ticket="ticket"></sl-ticket>


        <a class="btn btn-success"
           ng-click="applyTicket()"
           ng-show="ticketIsValid()">Apply and create ticket</a>
    }
    else
    {
        <p>Sorry, but now you cant create new ticket</p>
    }

</div>

