
@{
    ViewBag.Title = "Index";
}
@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/App/Ticket/app.js"></script>
    <script src="~/App/Ticket/controllers/TicketController.js"></script>
}

<div ng-app="ticketApp" ng-controller="TicketController">
    <h2>Ticket Page</h2>
</div>

