@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 uclu">
            <img src="images/JackPots.png" class="img-responsive" alt="" />
        </div>

    </div>

    <div class="row jack">
        <div class="col-xs-12 col-md-12 uclu">
            <div class="jackpot">
                <div class="jackbaslik">
                    <h4> Jackpots Grand Casino Escazú </h4>
                </div>
                <div class="jacksayisi">
                    <p> 35.000.000 </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 orta">
        <center>
            <span> Please Click to read our <a href="" style="color:#CD2122; text-decoration:underline;" data-toggle="modal" data-target="#gizlilik">Privacy Policy.</a></span>
        </center>
    </div>
</div>
<div class="container">
    <div class="row simge " id="tiles">
        <div class="col-md-12 simge-h1"><center><h1> Simge Başlığı</h1></center> </div>
        <center>
            <div class="col-md-3">
                <i class="icon-external-link"></i> </br>
                <span><h3> Başlık 1</h3></span>
                <p> Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum,</p>
            </div>
            <div class="col-md-3">
                <i class="icon-dashboard"></i>
                <span><h3> Başlık 2</h3></span>
                <p> Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum,</p>
            </div>
            <div class="col-md-3">
                <i class="icon-map-marker"></i>
                <span><h3> Başlık 3</h3></span>
                <p> Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum,</p>
            </div>
            <div class="col-md-3"><i class="icon-tasks"></i></div>
            <span><h3> Başlık 4</h3></span>
            <p> Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, Lorem Ipsum Lorem Ipsum</p>
        </center>
    </div>
</div>
<div class="modal fade" id="gizlilik" role="dialog" style="margin-top:100px;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Gizlilik Politası</h4>
            </div>
            <div class="modal-body">
                <p>
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, Lorem Ipsum Lorem IpsumLorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, Lorem Ipsum Lorem IpsumLorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, Lorem Ipsum Lorem IpsumLorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, Lorem Ipsum Lorem IpsumLorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, Lorem Ipsum Lorem Ipsum
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>